.idea
.gradle
build
out
*.iml
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Various things about the gradle wrapper and local configuration
gradlew*
.gradle
gradle/
.settings
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse project metadata
.project
.classpath

# My additions to this template
.gitignore
t
t2
t.out
m/

# This has private signature/password information
gradle.properties

TODO.txt
RUNME.GA
